.a1{
    /* background-color: rgb(243, 188, 188); */
    height: 60px;
    box-shadow: -1px 1px 2px 2px rgb(221, 216, 216);
    background-color: whitesmoke;
    position: sticky;
    top: 0px; 
}
.a3{
  float: right;
  padding-top: 20px;
}
.a2{
    text-decoration: none;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 20px;
    padding-top: 50px;
    
}
.a2:hover{
    padding: 10px;
    border: 2px solid greenyellow;
    background-color: greenyellow;
    border-radius: 6px;
}
body{
    background-color: bisque;
}
.img1{
    height: 40px;
    width: 40px;
    margin: 6px;
}
.heading1{
    font-size: 100px;
    font-weight: bold;
}
.smallpara{
    font-size: 20px;
    text-align: center;
}
.colomn{
    width: 800px;
    /* display: flex; */
    /* background-color: aquamarine; */
    border-left: 1px solid rgb(8, 8, 8);
    margin-left: 100px;
    height: 750px;
    margin-left: 10px;
}
.cols{

    display: flex;
}
.trending{
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    padding-left: 240px;
    


}
.shortstories{
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    padding-left: 200px;
}
.fiction{
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    padding-left: 240px;
}
.trending1{
    width: 200px;
    height: 200px;
    margin-left: 200px;

}
.shortstories1{
    width: 200px;
    height: 200px;
    margin-left: 200px;
}
.imagefiction1{
    width: 200px;
    height: 200px;
    margin-left: 200px;
}
.viewmore{
    background-color: rgb(132, 132, 241);
    margin-left: 230px;
    border-radius: 20px;
    width: 150px;
    height: 30px;
}
.viewmore:hover{
    background-color: rgb(167, 167, 248);
}