.container{
    background-color: cornflowerblue;
    height: 550px;
    width: 400px;
    border-radius: 20px;
    margin-top: 200px;
    margin-left: 760px;
    border: 4px solid white;
    outline-style: groove;
}
h1{
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    padding-top: 40px;
}
.labels{
    font-size: 20px;
    margin-left: 10px;
}
.inputs{
    margin-left: 12px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px black;
    height: 20px;
    width: 350px;
}
button{
    margin-left: 10px;
    background-color: rgb(182, 182, 245);
    border-radius: 9px;
}
.INPUTS1:hover{
    background-color: chartreuse;
}
a:hover{
    background-color: chartreuse;
}
body{
    background-color: azure;
}
::placeholder{
    font-size: 14px;
}
p{
    margin-left: 10px;
}
.INPUTS1{
    margin-left: 100px;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    font-size: 20px;
}
.SIGN{
    border:2px solid black;
    border-radius: 10px;
    margin-left: 160px;
    padding: 10px;
}